@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.signin-container{
  margin-top: 5%;
  margin-left: 5%;
  transform: translate(-5%, -5%) !important;
}

.signin-btn{
  background-color: #f4f4f4;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  color: #34495e;
  font-weight: bold;
}

.login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form label {
  font-size: 20px;
  margin-bottom: 10px;
}

.login-form input {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid gray;
}

.login-form button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: darkblue;
}
